In [1]:
import pandas as pd
import random
import calendar

# Create a list of months for the year
months = [month for month in calendar.month_name if month]

# Generate random data for 1000 rows
data = []
for _ in range(1000):
    month = random.choice(months)
    year = random.randint(2020, 2023)
    monthly_sales = random.randint(50000, 150000)
    avg_transaction_value = random.uniform(20, 100)
    customer_retention_rate = random.uniform(0.4, 0.8)
    new_customers_acquired = random.randint(50, 200)

    data.append([month, year, monthly_sales, avg_transaction_value, customer_retention_rate, new_customers_acquired])

# Create a DataFrame
columns = ['Month', 'Year', 'Monthly Sales', 'Average Transaction Value', 'Customer Retention Rate', 'New Customers Acquired']
df = pd.DataFrame(data, columns=columns)

# Export the DataFrame to a CSV file
df.to_csv('retail_kpi_metrics.csv', index=False)

In [3]:
df1 = pd.read_csv("C:\\Users\\anand\\Documents\\Python Scripts\\retail_kpi_metrics.csv")
df1

,Month,Year,Monthly Sales,Average Transaction Value,Customer Retention Rate,New Customers Acquired
0,July,2020,137582,36.214351,0.728594,81
1,March,2021,112016,71.429573,0.613645,132
2,December,2023,115524,48.300165,0.643278,102
3,August,2023,107710,30.359289,0.423627,199
4,November,2023,116524,33.604837,0.738066,100
...,...,...,...,...,...,...
995,August,2021,121499,75.554368,0.505668,144
996,November,2020,130217,25.751574,0.583821,87
997,April,2022,75252,75.119910,0.428735,142
998,November,2021,117062,85.837941,0.744978,161
999,October,2020,102074,33.074571,0.507554,118